/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require normalize
 *= require_tree .
 *= require_self
 */

html {
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

#main-header {
  margin-bottom: 20px;
  padding: 13px 0px;

  border-bottom: 1px solid #eee;
}

.main-header-title {
  margin: 0px;

  font-weight: 400;
  font-size: 18px;

  text-align: center;
}

#content {
  margin: auto;
  width: 860px;
}

.link {
  padding: 15px 0px;

  border-bottom: 1px dotted #eee;
}

.link-title {
  margin: 0px 0px 10px 0px;
}

.link span {
  color: #aaa;
}

.link-date {
  float: right;
}

.link-title {
  font-weight: normal;
  font-size: 18px;
}
